#root-master {
  height: 100%;
  width: 100%;
}

.qiankun-micro-app-container {
  .ant-layout-header {
    display: none;
  }
}

.ant-pro .ant-pro-layout .ant-pro-sider-fixed {
  overflow: visible !important;
}