.form-item {
  :global {
    .main-form-item-control-input-content {
      display: flex;
      align-items: center;

      .anticon {
        margin-left: 10px;
      }
    }

    .main-form-item {
      display: flex;
      width: 100%;
      margin-bottom: 0;

      .main-form-item-row {
        flex: 1
      }
    }
  }
}

.popover-content {
  :global {
    .main-popover-inner-content {
      padding: 0;
    }
  }
}