.form-item {
  :global {
    .main-form-item-control-input-content {
      display: flex;
      align-items: center;

      .anticon {
        margin-left: 10px;
      }
    }
  }
}

.popover-content {
  :global {
    .main-popover-inner-content {
      padding: 0;
    }
  }
}